@model Testing.Models.DatabaseContext.Books
@{
    ViewBag.Title = "Edit";
}

<h2>Edit book</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.BookName)
    </div>

    <div>
        @Html.EditorFor(m => m.BookName)
        @Html.ValidationMessageFor(v => v.BookName)
    </div>

    <div>
        @Html.LabelFor(m => m.BookGenre)
    </div>

    <div>
        @Html.EditorFor(m => m.BookGenre)
        @Html.ValidationMessageFor(v => v.BookGenre)
    </div>

    <div>
        <br />
        <input type="submit" value="Edit" /> <text>|</text> @Html.ActionLink("Terug naar index", "Index", "Home")
    </div>
}

