@model IEnumerable<Testing.Models.DatabaseContext.Books>
@{
    ViewBag.Title = "Index";
}

<h2>Books Index</h2>

@Html.ActionLink("Add book", "Create") <br />

<table>
    <tr>
        <th>Book name</th>
        <th>Book genre</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookName</td>
            <td>@item.BookGenre</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId }) <text>|</text>
                @Html.ActionLink("Details", "Details")
            </td>
        </tr>
    }
</table>